<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <br>

    <div class="alert-tabHeading">{{ prompts.pageTitle }}</div>
    <br>

    <div class="form-center">
      <form name="wineLabel" ng-submit="processForm(bottle)" class="form-horizontal">

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <label for="inputVintage" class="col-sm-2 control-label">{{prompts.vintage}}</label>
          <div class="col-sm-10">
            <select class="form-control" 
                    ng-model="bottle.vintage" 
                    ng-options="x.description for x in vintage" required>
              <option value="">{{prompts.placeholderVintage}}</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <label for="inputChateau" class="col-sm-2 control-label">{{prompts.producer}}</label>
          <div class="col-sm-10">
            <input class="form-control"
                   placeholder={{prompts.placeholderProducer}}
                   type="text" 
                   name="input" 
                   ng-model="bottle.producer"
                   min="1" 
                   max="99" 
                   required>
          </div>
        </div>             

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <label for="inputName" class="col-sm-2 control-label">{{prompts.AKA}}</label>
          <div class="col-sm-10">
             <input  class="form-control" 
                     placeholder={{prompts.placeholderAKA}}
                     type="text" 
                     name="input" 
                     ng-model="bottle.aka"
                     min="1" 
                     max="99" 
                     required>
          </div>
        </div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <label for="inputVineyard" class="col-sm-2 control-label">{{prompts.vineyard}}</label>
          <div class="col-sm-10">
            <input  class="form-control"
                    placeholder={{prompts.placeholderVineyard}}
                    type="text" 
                    name="input" 
                    ng-model="bottle.vineyard"
                    min="1" 
                    max="99" 
                    required>
          </div>
        </div>  

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <label for="inputVarietal" class="col-sm-2 control-label">{{prompts.varietal}}</label>
          <div class="col-sm-10">
             <select class      = "form-control" 
                     ng-model   = "bottle.varietal" 
                     ng-options = "x.description for x in varietal"
                     ng-change  = "getNewSomething(bottle.varietal)"
                     required>
                 <option value="">{{prompts.placeholderVarietal}}</option>
             </select>
          </div>
        </div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <label for="inputAva" class="col-sm-2 control-label">{{prompts.AVA}}</label>
          <div class="col-sm-10">
             <select class      ="form-control" 
                     ng-model   ="bottle.ava" 
                     ng-options ="x.description for x in ava"
                     ng-change  = "getNewSomething(bottle.ava)"                     
                     required>
                 <option value="">{{prompts.placeholderAVA}}</option>
             </select>
          </div>
        </div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <label for="inputNumberOfBottles" class="col-sm-2 control-label">{{prompts.quantity}}</label>
          <div class="col-sm-10">
            <input class="form-control"
                   placeholder={{prompts.placeholderQuantity}}
                   type="number" 
                   name="input" 
                   ng-model="bottle.numberOfBottles" 
                   min="1" 
                   max="99" 
                   required>
          </div>
        </div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <label for="inputNumberOfBottles" class="col-sm-2 control-label">{{prompts.price}}</label>
          <div class="col-sm-10">
          <input class="form-control" 
                 placeholder={{prompts.placeholderPrice}}
                 name="input" 
                 ng-model="bottle.price" 
                 format="currency">
          </div>
        </div>

        <div class="col-xs-6">
           <button type="button" ng-click="resetForm(bottle)"class="btn btn-danger btn-block">
               <span class="glyphicon glyphicon-remove"></span> {{prompts.reset}}
           </button>
        </div>

        <div class="col-xs-6">
           <button type="button" ng-click="getStorageBin(bottle)" class="btn alert-tabHeading btn-block">
               <span class="glyphicon glyphicon-ok"></span> {{prompts.bins}}
           </button>
        </div>

      </form>
      <br><br>

      <div id="messages" class="w3-container w3-light-green w3-padding-16 w3-center" ng-show="showMessages">
             {{message}} <br>
      </div>

    </div>
  </div>
</div>

<!-- ********************************* -->
<div>
  <modal-dialog show='modalShowAddBin' width='400px' txtButtonDone='{{prompts.btnCancel}}'>
    <h4 class="alert alert-tabHeading">{{bottleDescription}}</h4>
    {{prompts.whereDoesItGo}}
    <br><br>
    <div class="form-group row" ng-repeat="inventoryItem in addToInventory">
        <label for="inputBin" class="col-sm-3 control-label">&nbsp;{{inventoryItem.label}}</label>

        <div class="col-sm-6">
            <select class="form-control" 
                    ng-model="bottle.bin[$index]" 
                    ng-options="x.description for x in bin"
                    ng-change  = "getNewSomething(bottle.bin[$index])"
                    required>
                <option value="">-- choose Bin --</option>
            </select>
        </div>

    </div>

    <div class="col-xs-6">
      <button type="button" ng-click="toggleModal(bottle)" class="btn btn-danger btn-block">
        <span class="glyphicon glyphicon-remove"></span> {{prompts.reset}}
      </button>
    </div>

    <div class="col-xs-6">
      <button type="button" ng-click="processForm(bottle)" class="btn btn-success btn-block">
        <span class="glyphicon glyphicon-ok"></span> {{prompts.bins}}
      </button>
    </div>
    <br><br>
  </modal-dialog>
</div>
<!-- ********************************* -->


<!-- ********************************* -->
<div>
    <modal-dialog show='modalShowAddNew' width='800px' txtButtonDone='{{prompts.btnCancel}}'>

      <div class="alert-tabHeading">
        <button type="button" class="close glyphicon glyphicon-remove closeX" data-dismiss="dialog" ng-click="processNewThing(bottle)">
            <span class="sr-only">Close</span>
        </button>
        <h4>{{modalAddNewHeading}}</h4>
      </div>
      {{modalAddNewInstructions}}
      <br>
      <br>

        <div>
            <ul class="maintenanceListUnorderedList">
                <li ng-repeat="item in infoList">
                    <span ng-click="removeItem($index)" style="cursor:pointer;" class="glyphicon glyphicon-remove"></span> {{item.description}}
                </li>
            </ul>
        </div>

        <hr class="fatLine">

        <div>
            <div class="form-group">

              <label for="inputName" class="col-sm-2">{{modalAddNewLabel }}</label>
              <div class="col-sm-9">
                  <input type="text" name="input" ng-model="bottle.addMe" ng-click="clearStatus(showMessages)">
              </div>

              <br><br>

              <duv ng-show="modalShowCategory">
                <label for="inputName" class="col-sm-2">{{prompts.modalAddNewCategory }}</label>
                <div>
                    <label data-ng-repeat="option in wineCategoryList">
                        <input style="margin-left:20px;" 
                               type="radio" 
                               name="winecolor" 
                               ng-model="bottle.winecategory" 
                               ng-value="option.description" /> {{option.description}}
                    </label>
                </div>
              </duv>

            </div>

        </div>


        <div class="centerDoneButton">
          <button ng-disabled="checkInputs(bottle)"
                  type="button" 
                  ng-click="addNewThing(bottle)" 
                  class="btn alert-tabHeading btn-block col-xs-6">
              <span class="glyphicon glyphicon-ok"></span> {{prompts.modalAddThing}}
          </button>
        </div>
<!--         <br>
        <div class="centerDoneButton">
            <button type="button" ng-click="processNewThing(bottle)" class="btn btn-success btn-block col-xs-6">
                <span class="glyphicon glyphicon-ok"></span> {{prompts.modalDone}}
            </button>
        </div>
 -->
    </modal-dialog>
</div>
<!-- ********************************* -->

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <br>
    <div class="bottleLabel">
      {{ bottle.vintage.description }} <br>
      {{ bottle.producer}} <br>
      {{ bottle.aka}} <br>
      {{ bottle.vineyard }} <br>
      {{ bottle.varietal.description }} <br>
      {{ bottle.ava.description}}
    </div>
  </div>
</div>
