<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <br>

        <div class="alert-tabHeading">{{ prompts.pageTitle }}</div>

        <div class="content" style="font-weight: bold;font-size: 125%;">{{prompts.redWine}}
            <ul style="list-style-type:none;font-weight: normal;font-size: 85%;">
                <li ng-repeat="red in redWines" ng-click="setSelected(red)">{{red.name}}</li>
            </ul>
        </div>

        <div class="hspacer">&nbsp;</div>

        <div class="content" style="font-weight: bold;font-size: 125%;">{{prompts.whiteWine}}
            <ul style="list-style-type:none;font-weight: normal;font-size: 85%;">
                <li ng-repeat="white in whiteWines" ng-click="setSelected(white)">{{white.name}}</li>
            </ul>
        </div>

        <div class="hspacer">&nbsp;</div>

        <div class="content" style="font-weight: bold;font-size: 125%;">{{prompts.otherWine}}
            <ul style="list-style-type:none;font-weight: normal;font-size: 85%;">
                <li ng-repeat="wine in otherWines" ng-click="setSelected(wine)">{{wine.name}}</li>
            </ul>
        </div>

    </div>
</div>